@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,800&display=swap");

html,
body {
  font-family: "Poppins", "Open Sans Hebrew", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}
